.navbar {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    background-color: yellow;
    align-items: center;
}

.navbar div img {
    width: 32px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: .3rem;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: .5rem;
    border-radius: 6px;
    transition: .3s linear;
}

.navbar ul li a:hover {
    text-decoration: none;
    background-color: blue;
}



