.navbar {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.navbar .logo {
    color: #FF0000;
    text-decoration: none;
}