.section-user {
  padding: 1rem;
  margin: 2rem auto;
  background-color: grey;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-user form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
/*  */
.password-toggle {
  position: relative;
}

.password-toggle input {
    width: 93%;
}

.password-toggle button {
  position: absolute;
  right: 0;
  top: 54%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
/*  */
.section-user .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.section-user form input {
  padding: 0.5rem;
  outline: none;
}

.section-user form input[type="submit"] {
  margin-top: 1rem;
  font-weight: 700;
}
