.section-user {
    padding: 1rem;
    margin: 2rem auto;
    background-color: grey;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-user form {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.section-user form input {
    padding: .5rem;
    outline: none;
}

.section-user form input[type="submit"] {
    margin-top: 1rem;
    font-weight: 700;
}